/*
 * 18. Mobile Menu
*/
.off_canvars_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  cursor: crosshair;
  background: #232323;
  top: 0;
}
.off_canvars_overlay.active {
  opacity: 0.5;
  visibility: visible;
}
.canvas_open {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .offcanvas_menu {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .offcanvas_menu {
    display: block;
  }
}

.offcanvas_menu_wrapper {
  width: 290px;
  position: fixed;
  background: var(--button-colur);
  z-index: 999;
  top: 0;
  height: 100vh;
  transition: .5s;
  left: 0;
  margin-left: -300px;
  padding: 20px 0px 30px;
  overflow-y: auto;
}
.offcanvas_menu_wrapper.active {
  margin-left: 0;
}
.offcanvas_menu_wrapper .slinky-theme-default {
  background: inherit;
  min-height: 300px;
  overflow-y: auto;
}
.offcanvas_menu_wrapper .header_search_box {
  display: block;
}

.offcanvas_main_menu > li.menu-item-has-children.menu-open > span.menu-expand {
	transform: rotate(180deg);
}
.offcanvas_main_menu > li ul li.menu-item-has-children.menu-open span.menu-expand {
  transform: rotate(180deg);
}

.offcanvas_main_menu li {
  position: relative;
}
.offcanvas_main_menu li:last-child {
  margin: 0;
}
.offcanvas_main_menu li span.menu-expand {
	position: absolute;
	right: 10px;
	color: var(--p1-colur);
  line-height: 38px;
}
.offcanvas_main_menu li a {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  display: block;
  padding: 10px 10px;
  border-bottom: 1px solid var(--p-colur);
  color: var(--p1-colur);
  transition: all .3s;
}
.offcanvas_main_menu li a:hover {
  background: var(--button2-colur);
}
.offcanvas_main_menu li ul.sub-menu {
  padding-left: 20px;
}

.offcanvas_footer {
  margin-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.offcanvas_footer span a {
  font-size: 14px;
}
.offcanvas_footer span a:hover {
  color: #FF4800;
}

.slinky-theme-default a:not(.back) {
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
}
.slinky-theme-default a:not(.back):hover {
  background: inherit;
  color: #FF4800;
}

.canvas_close {
  position: absolute;
  top: 10px;
  right: 13px;
}
.canvas_close a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  line-height: 32px;
  border: 1px solid #ededed;
  border-radius: 50%;
  color: var(--p1-colur);
}
.canvas_close a:hover {
  color: var(--p1-colur);
  background: var(--button2-colur);
  border: none;
}
.mobile-logo {
	padding-left: 20px;
	margin-bottom: 20px;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
.canvas_open {
	display: block;
	float: right;
}
}
@media only screen and (max-width: 767px) {
  .canvas_open {
    right: 20px;
    top: 27px;
    display: block;
    width: 36px;
  }
}
.canvas_open a {
	font-size: 27px;
	width: 41px;
	height: 37px;
	display: block;
	line-height: 37px;
	text-align: right;
	color: var(--button-colur);
}
@media only screen and (max-width: 767px) {
  .canvas_open a {
    width: 36px;
    height: 34px;
    line-height: 33px;
    font-size: 27px;
  }
}
.canvas_open a:hover {
  color: var(--button2-colur);
}

.mobile-logo img {
  width: 70%;
}